body {
  background-color: #ffededff;
  font-family: 'Poppins', sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: left;
}
.phrase {
  font-weight: bold;
  color: #f78a8a;
}

#logo {
  width: 250px;
  height: 175px;
  object-fit: cover;
  padding-left: 25px;
  padding-right: 25px;
}

#video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  outline-style: dashed;
  outline-width: thick;
  outline-color: #f78a8a;
}

#sessionButton {
  width: 250px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  size: 10px;
  background-color: #f78a8a;
  border: none;
  color: white;
}

#sessionButton:hover {
  background-color: #e38888
}

.timeButton {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center items */
  justify-content: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

#timer {
  font-weight: bold;
  color: #f78a8a;
  font-size: 36px;
  width: 100px;
  height: 50px;
  padding-left: 50px;
}

#alert {
  width: 400px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: 50px;
  text-align: center;
  background-color: #f78a8a;
  color: white;
  padding-top: 10px;
  word-wrap: break-word;
}

#alert-message {
  font-size: 28px;
}